In [3]:
import numpy as np
import pandas as pd

In [4]:
Laliga=pd.read_csv(r'C:\Users\Admin\Desktop\Python\Laliga.csv',skiprows=[0])

In [5]:
Laliga.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [6]:
Laliga.replace('-','0',inplace = True)

In [44]:
Laliga[Laliga=='-'].sum()

C:\Users\Admin\Anaconda3\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Pos                0.0
Team               0.0
Seasons            0.0
Points             0.0
GamesPlayed        0.0
GamesWon           0.0
GamesDrawn         0.0
GamesLost          0.0
GoalsFor           0.0
GoalsAgainst       0.0
Champion           0.0
Runner-up          0.0
Third              0.0
Fourth             0.0
Fifth              0.0
Sixth              0.0
T                  0.0
Debut              0.0
Since/LastApp      0.0
BestPosition       0.0
Winning Percent    0.0
dtype: float64

In [23]:
print(Laliga)

    Pos                 Team  Seasons  Points  GamesPlayed  GamesWon  \
0     1          Real Madrid       86    4385         2762      1647
1     2            Barcelona       86    4262         2762      1581
2     3      Atletico Madrid       80    3442         2614      1241
3     4             Valencia       82    3386         2664      1187
4     5      Athletic Bilbao       86    3368         2762      1209
5     6              Sevilla       73    2819         2408       990
6     7             Espanyol       82    2792         2626       948
7     8        Real Sociedad       70    2573         2302       864
8     9             Zaragoza       58    2109         1986       698
9    10           Real Betis       51    1884         1728       606
10   11  Deportivo La Coruna       45    1814         1530       563
11   12           Celta Vigo       51    1789         1698       586
12   13           Valladolid       42    1471         1466       463
13   14     Racing Santander       44    1416         1428       453
14   15       Sporting Gijon       43    1389         1458       471
15   16              Osasuna       37    1351         1318       426
16   17               Malaga       36    1314         1255       390
17   18               Oviedo       38    1174         1192       408
18   19             Mallorca       27    1148          988       333
19   20           Las Palmas       33    1020         1096       367
20   21           Villarreal       17     970          646       266
21   22              Granada       23     667          742       218
22   23       Rayo Vallecano       17     662          652       189
23   24                Elche       21     606          678       203
24   25               Getafe       12     553          456       147
25   26             Hercules       20     538          628       184
26   27             Tenerife       13     510          494       155
27   28               Murcia       18     445          586       145
28   29               Alaves       12     421          380       125
29   30              Levante       11     416          402       113
..  ...                  ...      ...     ...          ...       ...
31   32             Sabadell       14     353          426       129
32   33                Cadiz       12     343          448       104
33   34             Logrones        9     293          346        96
34   35            Castellon       11     285          334       103
35   36             Albacete        7     277          270        76
36   37              Almeria        6     242          228        62
37   38              Cordoba        9     230          282        82
38   39           Compostela        4     190          160        52
39   40           Recreativo        5     188          186        50
40   41            Burgos CF        6     168          204        59
41   42           Pontevedra        6     150          180        53
42   43             Numancia        4     148          152        37
43   44                Eibar        3     132          114        35
44   45               Arenas        7     107          130        43
45   46          Real Burgos        3      96          114        26
46   47            Gimnastic        4      91          116        34
47   48          Extremadura        2      83           80        20
48   49               Merida        2      81           80        19
49   50             Alcoyano        4      76          108        30
50   51                 Jaen        3      71           90        29
51   52           Real Union        4      56           72        21
52   53           AD Almeria        2      52           68        17
53   54               Europa        3      42           54        18
54   55               Lleida        2      40           68        13
55   56              Leganes        1      35           38         8
56   57                Xerez        1      34           38         8
57   58               Condal        1      22           30         7
58   59      Atletico Tetuan        1      19           30         7
59   60     Cultural Leonesa        1      14           30         5
60   61               Girona        1       0            0         0

   GamesDrawn GamesLost  GoalsFor  GoalsAgainst  ... Runner-up Third Fourth  \
0         552       563      5947          3140  ...        23     8      8
1         573       608      5900          3114  ...        25    12     12
2         598       775      4534          3309  ...         8    16      9
3         616       861      4398          3469  ...         6    10     11
4         633       920      4631          3700  ...         7    10      5
5         531       887      3680          3373  ...         4     4      5
6         608      1070      3609          3889  ...         0     4      5
7         577       861      3228          3230  ...         3     2      5
8         522       766      2683          2847  ...         1     4      5
9         440       682      2159          2492  ...         0     2      3
10        392       575      2052          2188  ...         5     4      1
11        389       723      2278          2624  ...         0     0      2
12        384       619      1767          2180  ...         0     0      1
13        336       639      1843          2368  ...         1     1      2
14        358       629      1753          2152  ...         1     1      2
15        327       565      1500          1834  ...         0     0      2
16        330       535      1421          1763  ...         0     0      1
17        292       492      1642          1951  ...         0     3      2
18        256       399      1182          1371  ...         0     2      0
19        242       487      1347          1746  ...         1     1      1
20        172       208       892           789  ...         1     1      2
21        175       349       819          1157  ...         0     0      0
22        148       305       760          1088  ...         0     0      0
23        180       295       750          1022  ...         0     0      0
24        112       197       520           633  ...         0     0      0
25        149       295       716          1050  ...         0     0      0
26        128       211       619           744  ...         0     0      0
27        143       298       607           992  ...         0     0      0
28         81       174       458           623  ...         0     0      0
29         95       194       430           632  ...         0     0      0
..        ...       ...       ...           ...  ...       ...   ...    ...
31         95       202       492           720  ...         0     0      1
32        127       217       393           662  ...         0     0      0
33         92       158       291           489  ...         0     0      0
34         79       152       419           588  ...         0     0      1
35         76       118       320           410  ...         0     0      0
36         56       110       244           366  ...         0     0      0
37         63       137       285           430  ...         0     0      0
38         45        63       199           241  ...         0     0      0
39         46        90       202           296  ...         0     0      0
40         50        95       216           310  ...         0     0      0
41         44        83       165           221  ...         0     0      0
42         37        78       155           253  ...         0     0      0
43         27        52       139           167  ...         0     0      0
44         21        66       227           308  ...         0     1      0
45         44        44       101           139  ...         0     0      0
46         16        66       181           295  ...         0     0      0
47         23        37        62           117  ...         0     0      0
48         24        37        70           115  ...         0     0      0
49         16        62       145           252  ...         0     0      0
50         13        48       121           183  ...         0     0      0
51         14        37       153           184  ...         0     0      0
52         18        33        71           116  ...         0     0      0
53          6        30        97           131  ...         0     0      0
54         14        41        70           182  ...         0     0      0
55         11        19        36            55  ...         0     0      0
56         10        20        38            66  ...         0     0      0
57          8        15        37            57  ...         0     0      0
58          5        18        51            85  ...         0     0      0
59          4        21        34            65  ...         0     0      0
60          0         0         0             0  ...         0     0      0

   Fifth Sixth   T    Debut Since/LastApp BestPosition  Winning Percent
0      3     4  79     1929          1929            1        59.630702
1      4     6  83     1929          1929            1        57.241130
2      7     6  56     1929       2002-03            1        47.475134
3     10     7  50  1931-32       1987-88            1        44.557057
4      8    10  49     1929          1929            1        43.772629
5     12     6  32  1934-35       2001-02            1        41.112957
6      2     5  16     1929       1994-95            3        36.100533
7      4     3  19     1929       2010-11            1        37.532580
8      4     4  18  1939-40       2012-13            2        35.146022
9      4     4  14  1932-33       2015-16            1        35.069444
10     0     1  12  1941-42       2014-15            1        36.797386
11     4     5  11  1939-40       2012-13            4        34.511190
12     1     1   3  1948-49       2013-14            4        31.582538
13     0     1   5     1929       2011-12            2        31.722689
14     2     1   7  1944-45       2015-16            2        32.304527
15     2     2   6  1935-36       2016-17            4        32.321700
16     0     1   2  1949-50       2008-09            4        31.075697
17     2     4  11  1933-34       2000-01            3        34.228188
18     2     1   5  1960-61       2012-13            3        33.704453
19     1     1   5  1951-52       2015-16            2        33.485401
20     3     2   9  1998-99       2013-14            2        41.176471
21     0     2   2  1941-42       2016-17            6        29.380054
22     0     0   0  1977-78       2015-16            8        28.987730
23     1     1   2  1959-60       2014-15            5        29.941003
24     0     1   1  2004-05       2015-16            6        32.236842
25     1     4   5  1935-36       2010-11            5        29.299363
26     2     0   2  1961-62       2009-10            5        31.376518
27     0     0   0  1940-41       2007-08           11        24.744027
28     0     1   1  1930-31       2016-17            6        32.894737
29     0     1   1  1963-64       2015-16            6        28.109453
..   ...   ...  ..      ...           ...          ...              ...
31     1     0   2  1943-44       1987-88            4        30.281690
32     0     0   0  1977-78       2005-06           12        23.214286
33     0     0   0  1987-88       1996-97            7        27.745665
34     2     0   3  1941-42       1990-91            4        30.838323
35     0     0   0  1991-92       2004-05            7        28.148148
36     0     0   0  2007-08       2014-15            8        27.192982
37     1     0   1  1962-63       2014-15            5        29.078014
38     0     0   0  1994-95       1997-98           10        32.500000
39     0     0   0  1978-79       2008-09            8        26.881720
40     0     0   0  1971-72       1979-80           12        28.921569
41     0     0   0  1963-64       1969-70            7        29.444444
42     0     0   0  1999-00       2008-09           17        24.342105
43     0     0   0  2014-15       2014-15           10        30.701754
44     3     0   4     1929       1934-35            3        33.076923
45     0     0   0  1990-91       1992-93            9        22.807018
46     0     0   0  1947-48       2006-07            7        29.310345
47     0     0   0  1996-97       1998-99           17        25.000000
48     0     0   0  1995-96       1997-98           19        23.750000
49     0     0   0  1945-46       1950-51           10        27.777778
50     0     0   0  1953-54       1957-58           14        32.222222
51     0     1   1     1929       1931-32            6        29.166667
52     0     0   0  1979-80       1980-81           10        25.000000
53     0     0   0     1929       1930-31            8        33.333333
54     0     0   0  1950-51       1993-94           16        19.117647
55     0     0   0  2016-17       2016-17           17        21.052632
56     0     0   0  2009-10       2009-10           20        21.052632
57     0     0   0  1956-57       1956-57           16        23.333333
58     0     0   0  1951-52       1951-52           16        23.333333
59     0     0   0  1955-56       1955-56           15        16.666667
60     0     0   0  2017-18       2017-18            9         0.000000

[61 rows x 21 columns]

In [8]:
Laliga[Laliga['Debut'].between('1930','1980',inclusive=True)][['Team','Debut']]

                   Team    Debut
3              Valencia  1931-32
5               Sevilla  1934-35
8              Zaragoza  1939-40
9            Real Betis  1932-33
10  Deportivo La Coruna  1941-42
11           Celta Vigo  1939-40
12           Valladolid  1948-49
14       Sporting Gijon  1944-45
15              Osasuna  1935-36
16               Malaga  1949-50
17               Oviedo  1933-34
18             Mallorca  1960-61
19           Las Palmas  1951-52
21              Granada  1941-42
22       Rayo Vallecano  1977-78
23                Elche  1959-60
25             Hercules  1935-36
26             Tenerife  1961-62
27               Murcia  1940-41
28               Alaves  1930-31
29              Levante  1963-64
30            Salamanca  1974-75
31             Sabadell  1943-44
32                Cadiz  1977-78
34            Castellon  1941-42
37              Cordoba  1962-63
39           Recreativo  1978-79
40            Burgos CF  1971-72
41           Pontevedra  1963-64
46            Gimnastic  1947-48
49             Alcoyano  1945-46
50                 Jaen  1953-54
52           AD Almeria  1979-80
54               Lleida  1950-51
57               Condal  1956-57
58      Atletico Tetuan  1951-52
59     Cultural Leonesa  1955-56

In [9]:
Laliga.dtypes

Pos               int64
Team             object
Seasons           int64
Points           object
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut            object
Since/LastApp    object
BestPosition      int64
dtype: object

In [26]:
Laliga.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Pos,61.0,31.000000,17.752934,1.0,16.000000,31.00000,46.000000,61.000000
Seasons,61.0,24.000000,26.827225,1.0,4.000000,12.00000,38.000000,86.000000
Points,61.0,901.426230,1134.899121,0.0,96.000000,375.00000,1351.000000,4385.000000
GamesPlayed,61.0,796.819672,876.282765,0.0,114.000000,423.00000,1318.000000,2762.000000
GamesWon,61.0,303.967213,406.991030,0.0,34.000000,123.00000,426.000000,1647.000000
GoalsFor,61.0,1140.344262,1506.740211,0.0,153.000000,430.00000,1642.000000,5947.000000
GoalsAgainst,61.0,1140.229508,1163.710766,0.0,221.000000,632.00000,1951.000000,3889.000000
BestPosition,61.0,7.081967,5.276663,1.0,3.000000,6.00000,10.000000,20.000000
Winning Percent,61.0,30.850613,8.742574,0.0,27.192982,30.28169,33.485401,59.630702

In [27]:
Laliga['Points']=Laliga['Points'].astype(str).astype(int)

In [28]:
Laliga.dtypes

Pos                  int64
Team                object
Seasons              int64
Points               int32
GamesPlayed          int64
GamesWon             int64
GamesDrawn          object
GamesLost           object
GoalsFor             int32
GoalsAgainst         int32
Champion            object
Runner-up           object
Third               object
Fourth              object
Fifth               object
Sixth               object
T                   object
Debut               object
Since/LastApp       object
BestPosition         int64
Winning Percent    float64
dtype: object

In [12]:
Laliga.sort_values('Points',ascending=False)[['Team','Points']].head()

              Team  Points
0      Real Madrid    4385
1        Barcelona    4262
2  Atletico Madrid    3442
3         Valencia    3386
4  Athletic Bilbao    3368

In [29]:
Laliga['GamesWon']=Laliga['GamesWon'].astype(int)
Laliga['GamesPlayed']=Laliga['GamesPlayed'].astype(int)
Laliga['Winning Percent'] = (Laliga['GamesWon']/Laliga['GamesPlayed'])*100

In [30]:
Laliga.dtypes

Pos                  int64
Team                object
Seasons              int64
Points               int32
GamesPlayed          int32
GamesWon             int32
GamesDrawn          object
GamesLost           object
GoalsFor             int32
GoalsAgainst         int32
Champion            object
Runner-up           object
Third               object
Fourth              object
Fifth               object
Sixth               object
T                   object
Debut               object
Since/LastApp       object
BestPosition         int64
Winning Percent    float64
dtype: object

In [32]:
Laliga.head

<bound method NDFrame.head of     Pos                 Team  Seasons  Points  GamesPlayed  GamesWon  \
0     1          Real Madrid       86    4385         2762      1647
1     2            Barcelona       86    4262         2762      1581
2     3      Atletico Madrid       80    3442         2614      1241
3     4             Valencia       82    3386         2664      1187
4     5      Athletic Bilbao       86    3368         2762      1209
5     6              Sevilla       73    2819         2408       990
6     7             Espanyol       82    2792         2626       948
7     8        Real Sociedad       70    2573         2302       864
8     9             Zaragoza       58    2109         1986       698
9    10           Real Betis       51    1884         1728       606
10   11  Deportivo La Coruna       45    1814         1530       563
11   12           Celta Vigo       51    1789         1698       586
12   13           Valladolid       42    1471         1466       463
13   14     Racing Santander       44    1416         1428       453
14   15       Sporting Gijon       43    1389         1458       471
15   16              Osasuna       37    1351         1318       426
16   17               Malaga       36    1314         1255       390
17   18               Oviedo       38    1174         1192       408
18   19             Mallorca       27    1148          988       333
19   20           Las Palmas       33    1020         1096       367
20   21           Villarreal       17     970          646       266
21   22              Granada       23     667          742       218
22   23       Rayo Vallecano       17     662          652       189
23   24                Elche       21     606          678       203
24   25               Getafe       12     553          456       147
25   26             Hercules       20     538          628       184
26   27             Tenerife       13     510          494       155
27   28               Murcia       18     445          586       145
28   29               Alaves       12     421          380       125
29   30              Levante       11     416          402       113
..  ...                  ...      ...     ...          ...       ...
31   32             Sabadell       14     353          426       129
32   33                Cadiz       12     343          448       104
33   34             Logrones        9     293          346        96
34   35            Castellon       11     285          334       103
35   36             Albacete        7     277          270        76
36   37              Almeria        6     242          228        62
37   38              Cordoba        9     230          282        82
38   39           Compostela        4     190          160        52
39   40           Recreativo        5     188          186        50
40   41            Burgos CF        6     168          204        59
41   42           Pontevedra        6     150          180        53
42   43             Numancia        4     148          152        37
43   44                Eibar        3     132          114        35
44   45               Arenas        7     107          130        43
45   46          Real Burgos        3      96          114        26
46   47            Gimnastic        4      91          116        34
47   48          Extremadura        2      83           80        20
48   49               Merida        2      81           80        19
49   50             Alcoyano        4      76          108        30
50   51                 Jaen        3      71           90        29
51   52           Real Union        4      56           72        21
52   53           AD Almeria        2      52           68        17
53   54               Europa        3      42           54        18
54   55               Lleida        2      40           68        13
55   56              Leganes        1      35           38         8
56   57                Xerez        1      34           38         8
57   58               Condal        1      22           30         7
58   59      Atletico Tetuan        1      19           30         7
59   60     Cultural Leonesa        1      14           30         5
60   61               Girona        1       0            0         0

   GamesDrawn GamesLost  GoalsFor  GoalsAgainst  ... Runner-up Third Fourth  \
0         552       563      5947          3140  ...        23     8      8
1         573       608      5900          3114  ...        25    12     12
2         598       775      4534          3309  ...         8    16      9
3         616       861      4398          3469  ...         6    10     11
4         633       920      4631          3700  ...         7    10      5
5         531       887      3680          3373  ...         4     4      5
6         608      1070      3609          3889  ...         0     4      5
7         577       861      3228          3230  ...         3     2      5
8         522       766      2683          2847  ...         1     4      5
9         440       682      2159          2492  ...         0     2      3
10        392       575      2052          2188  ...         5     4      1
11        389       723      2278          2624  ...         0     0      2
12        384       619      1767          2180  ...         0     0      1
13        336       639      1843          2368  ...         1     1      2
14        358       629      1753          2152  ...         1     1      2
15        327       565      1500          1834  ...         0     0      2
16        330       535      1421          1763  ...         0     0      1
17        292       492      1642          1951  ...         0     3      2
18        256       399      1182          1371  ...         0     2      0
19        242       487      1347          1746  ...         1     1      1
20        172       208       892           789  ...         1     1      2
21        175       349       819          1157  ...         0     0      0
22        148       305       760          1088  ...         0     0      0
23        180       295       750          1022  ...         0     0      0
24        112       197       520           633  ...         0     0      0
25        149       295       716          1050  ...         0     0      0
26        128       211       619           744  ...         0     0      0
27        143       298       607           992  ...         0     0      0
28         81       174       458           623  ...         0     0      0
29         95       194       430           632  ...         0     0      0
..        ...       ...       ...           ...  ...       ...   ...    ...
31         95       202       492           720  ...         0     0      1
32        127       217       393           662  ...         0     0      0
33         92       158       291           489  ...         0     0      0
34         79       152       419           588  ...         0     0      1
35         76       118       320           410  ...         0     0      0
36         56       110       244           366  ...         0     0      0
37         63       137       285           430  ...         0     0      0
38         45        63       199           241  ...         0     0      0
39         46        90       202           296  ...         0     0      0
40         50        95       216           310  ...         0     0      0
41         44        83       165           221  ...         0     0      0
42         37        78       155           253  ...         0     0      0
43         27        52       139           167  ...         0     0      0
44         21        66       227           308  ...         0     1      0
45         44        44       101           139  ...         0     0      0
46         16        66       181           295  ...         0     0      0
47         23        37        62           117  ...         0     0      0
48         24        37        70           115  ...         0     0      0
49         16        62       145           252  ...         0     0      0
50         13        48       121           183  ...         0     0      0
51         14        37       153           184  ...         0     0      0
52         18        33        71           116  ...         0     0      0
53          6        30        97           131  ...         0     0      0
54         14        41        70           182  ...         0     0      0
55         11        19        36            55  ...         0     0      0
56         10        20        38            66  ...         0     0      0
57          8        15        37            57  ...         0     0      0
58          5        18        51            85  ...         0     0      0
59          4        21        34            65  ...         0     0      0
60          0         0         0             0  ...         0     0      0

   Fifth Sixth   T    Debut Since/LastApp BestPosition  Winning Percent
0      3     4  79     1929          1929            1        59.630702
1      4     6  83     1929          1929            1        57.241130
2      7     6  56     1929       2002-03            1        47.475134
3     10     7  50  1931-32       1987-88            1        44.557057
4      8    10  49     1929          1929            1        43.772629
5     12     6  32  1934-35       2001-02            1        41.112957
6      2     5  16     1929       1994-95            3        36.100533
7      4     3  19     1929       2010-11            1        37.532580
8      4     4  18  1939-40       2012-13            2        35.146022
9      4     4  14  1932-33       2015-16            1        35.069444
10     0     1  12  1941-42       2014-15            1        36.797386
11     4     5  11  1939-40       2012-13            4        34.511190
12     1     1   3  1948-49       2013-14            4        31.582538
13     0     1   5     1929       2011-12            2        31.722689
14     2     1   7  1944-45       2015-16            2        32.304527
15     2     2   6  1935-36       2016-17            4        32.321700
16     0     1   2  1949-50       2008-09            4        31.075697
17     2     4  11  1933-34       2000-01            3        34.228188
18     2     1   5  1960-61       2012-13            3        33.704453
19     1     1   5  1951-52       2015-16            2        33.485401
20     3     2   9  1998-99       2013-14            2        41.176471
21     0     2   2  1941-42       2016-17            6        29.380054
22     0     0   0  1977-78       2015-16            8        28.987730
23     1     1   2  1959-60       2014-15            5        29.941003
24     0     1   1  2004-05       2015-16            6        32.236842
25     1     4   5  1935-36       2010-11            5        29.299363
26     2     0   2  1961-62       2009-10            5        31.376518
27     0     0   0  1940-41       2007-08           11        24.744027
28     0     1   1  1930-31       2016-17            6        32.894737
29     0     1   1  1963-64       2015-16            6        28.109453
..   ...   ...  ..      ...           ...          ...              ...
31     1     0   2  1943-44       1987-88            4        30.281690
32     0     0   0  1977-78       2005-06           12        23.214286
33     0     0   0  1987-88       1996-97            7        27.745665
34     2     0   3  1941-42       1990-91            4        30.838323
35     0     0   0  1991-92       2004-05            7        28.148148
36     0     0   0  2007-08       2014-15            8        27.192982
37     1     0   1  1962-63       2014-15            5        29.078014
38     0     0   0  1994-95       1997-98           10        32.500000
39     0     0   0  1978-79       2008-09            8        26.881720
40     0     0   0  1971-72       1979-80           12        28.921569
41     0     0   0  1963-64       1969-70            7        29.444444
42     0     0   0  1999-00       2008-09           17        24.342105
43     0     0   0  2014-15       2014-15           10        30.701754
44     3     0   4     1929       1934-35            3        33.076923
45     0     0   0  1990-91       1992-93            9        22.807018
46     0     0   0  1947-48       2006-07            7        29.310345
47     0     0   0  1996-97       1998-99           17        25.000000
48     0     0   0  1995-96       1997-98           19        23.750000
49     0     0   0  1945-46       1950-51           10        27.777778
50     0     0   0  1953-54       1957-58           14        32.222222
51     0     1   1     1929       1931-32            6        29.166667
52     0     0   0  1979-80       1980-81           10        25.000000
53     0     0   0     1929       1930-31            8        33.333333
54     0     0   0  1950-51       1993-94           16        19.117647
55     0     0   0  2016-17       2016-17           17        21.052632
56     0     0   0  2009-10       2009-10           20        21.052632
57     0     0   0  1956-57       1956-57           16        23.333333
58     0     0   0  1951-52       1951-52           16        23.333333
59     0     0   0  1955-56       1955-56           15        16.666667
60     0     0   0  2017-18       2017-18            9              NaN

[61 rows x 21 columns]>

In [33]:
Laliga['Winning Percent'].fillna(0,inplace=True)

In [34]:
Laliga.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Winning Percent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931-32,1987-88,1,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,43.772629

In [35]:
Laliga.sort_values('Winning Percent',ascending=False)[['Team','Winning Percent']].head()

              Team  Winning Percent
0      Real Madrid        59.630702
1        Barcelona        57.241130
2  Atletico Madrid        47.475134
3         Valencia        44.557057
4  Athletic Bilbao        43.772629

In [36]:
Laliga_Bestpos = Laliga.groupby(['BestPosition'])['Points'].sum()

In [37]:
Laliga_Bestpos

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int32

In [38]:
Laliga['GoalsFor'] = Laliga['GoalsFor'].astype(int)
Laliga['GoalsAgainst'] = Laliga['GoalsAgainst'].astype(int)

In [39]:
def Goal_diff_count():
    GoalsperTeam=Laliga[['Team','GoalsFor','GoalsAgainst']]
    GoalsperTeam=GoalsperTeam.set_index('Team')
    GoalsperTeam['Goalsdiff'] = GoalsperTeam['GoalsFor']-GoalsperTeam['GoalsAgainst']
    GoalsperTeam = GoalsperTeam.sort_values(by= ['Goalsdiff'], ascending = False)
    print(GoalsperTeam)
    print('Maximum Goal Difference and Team')
    print(GoalsperTeam['Goalsdiff'].max())
    print(GoalsperTeam.head(1))
    print('\n')
    print('Minimum Goal Difference and Team')
    print(GoalsperTeam['Goalsdiff'].min())
    print(GoalsperTeam.tail(1))

In [40]:
Goal_diff_count()

                     GoalsFor  GoalsAgainst  Goalsdiff
Team
Real Madrid              5947          3140       2807
Barcelona                5900          3114       2786
Atletico Madrid          4534          3309       1225
Athletic Bilbao          4631          3700        931
Valencia                 4398          3469        929
Sevilla                  3680          3373        307
Villarreal                892           789        103
Girona                      0             0          0
Real Sociedad            3228          3230         -2
Leganes                    36            55        -19
Condal                     37            57        -20
Eibar                     139           167        -28
Xerez                      38            66        -28
Cultural Leonesa           34            65        -31
Real Union                153           184        -31
Europa                     97           131        -34
Atletico Tetuan            51            85        -34
Real Burgos               101           139        -38
Compostela                199           241        -42
AD Almeria                 71           116        -45
Merida                     70           115        -45
Extremadura                62           117        -55
Pontevedra                165           221        -56
Jaen                      121           183        -62
Arenas                    227           308        -81
Albacete                  320           410        -90
Burgos CF                 216           310        -94
Recreativo                202           296        -94
Numancia                  155           253        -98
Alcoyano                  145           252       -107
...                       ...           ...        ...
Getafe                    520           633       -113
Gimnastic                 181           295       -114
Almeria                   244           366       -122
Tenerife                  619           744       -125
Deportivo La Coruna      2052          2188       -136
Cordoba                   285           430       -145
Salamanca                 422           581       -159
Zaragoza                 2683          2847       -164
Alaves                    458           623       -165
Castellon                 419           588       -169
Mallorca                 1182          1371       -189
Logrones                  291           489       -198
Levante                   430           632       -202
Sabadell                  492           720       -228
Cadiz                     393           662       -269
Elche                     750          1022       -272
Espanyol                 3609          3889       -280
Oviedo                   1642          1951       -309
Rayo Vallecano            760          1088       -328
Real Betis               2159          2492       -333
Hercules                  716          1050       -334
Osasuna                  1500          1834       -334
Granada                   819          1157       -338
Malaga                   1421          1763       -342
Celta Vigo               2278          2624       -346
Murcia                    607           992       -385
Las Palmas               1347          1746       -399
Sporting Gijon           1753          2152       -399
Valladolid               1767          2180       -413
Racing Santander         1843          2368       -525

[61 rows x 3 columns]
Maximum Goal Difference and Team
2807
             GoalsFor  GoalsAgainst  Goalsdiff
Team
Real Madrid      5947          3140       2807


Minimum Goal Difference and Team
-525
                  GoalsFor  GoalsAgainst  Goalsdiff
Team
Racing Santander      1843          2368       -525